<div class="container card card-formulaire my-3">
  <h5 class="py-3 text-center">Je souhaite prendre contact </h5>
  <%= form_for @form do |f| %>
    <div>
      <%= f.label :Nom %></br>
      <%= f.text_field  :name, required: true, class: "contact-form-text-area form-control " %></br>

      <%= f.label :Mail %></br>
      <%= f.text_field :email, required: true, class: "contact-form-text-area form-control" %></br>

      <%= f.label :Message %></br>
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: " form-control ontact-form-text-area fst-italic ",
            placeholder: "Décrivez moi votre besoin et vos questions s'il y en a..."%></br>

      <div class= "d-none">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>

       <%= f.submit 'Envoyer le formulaire', class: 'button-form my-3 d-flex align-items-center' %>
    </div>
  <% end %>
</div>
