<div class="navbar navbar-lewagon " >
  <div class="nav container-fluid mx-2">
      <%= link_to root_path, class: "navbar-brand img" do %>
        <%= image_tag "logo.png", alt: "Logo-navbar" %>
      <% end %>
    <div>
      <ul class="nav">
          <li>
            <%= link_to "Qui suis-je ?", root_path, class: "nav-link nav-text mx-2" %>
          </li>
          <li>
            <%= link_to "Prestations & Tarifs", prestations_path , class: "nav-link  nav-text mx-2 " %>
          </li>
          <li >
          <%= link_to "Contact", contact_path , class: "nav-link nav-text mx-2" %>
          </li>
          <li>
          <%= link_to "Prendre rendez-vous", prendrerdv_path , class: "nav-link nav-button-orange mx-2" %>
          </li>
        </ul>
    </div>
  </div>
</div>
